<h2>Control Flow</h2>

<h3>IF</h3>

<!-- Nova forma -->
@if (true) {
    <p>teste</p>
} @else {
    <p>teste-1</p>
}

<!-- Forma Antiga -->
<ng-container *ngIf="true">
    <p>teste</p>
</ng-container>

<!--------------------------------------------------------------------->

<h3>IF, FOR</h3>

<!-- Nova forma -->
@if (loadingData$ | async; as data) {
    <ul>
        @for (item of data; track item) {
            <li>{{ item }}</li>
        }
    </ul>
} @else {
    <p>Carregando...</p>
}

<!-- Forma Antiga -->
<ng-container *ngIf="loadingData$ | async as data; else loading">
    <ul>
        <ng-container *ngFor="let item of data; trackBy: trackByFn">
            <li>{{ item }}</li>
        </ng-container>
    </ul>
</ng-container>
<ng-template #loading>
    <p>Carregando...</p>
</ng-template>

<!--------------------------------------------------------------------->

<h3>FOR com valores</h3>

<!-- Nova forma -->
@for (item of itens; track item.name; let i = $index) {
    <p>{{ item.name }} (Índice: {{ i }})</p>
}

<!-- Forma Antiga -->
<ng-container *ngFor="let item of itens; let i = index; trackBy: trackByFn">
    <p>{{ item.name }} (Índice: {{ i }})</p>
</ng-container>

<!--------------------------------------------------------------------->

<h3>FOR com lista vazia</h3>

<!-- Nova forma -->
<ul>
    @for (item of itens; track item.name) {
        <li>{{ item.name }}</li>
    } @empty {
        <li>Não contém valores</li>
    }
</ul>

<!-- Forma Antiga -->
<ng-container *ngIf="itens.length === 0; else itensExist">
    <li>Não contém valores</li>
</ng-container>
<ng-template #itensExist>
    <ng-container *ngFor="let item of itens">
        <li>{{ item.name }}</li>
    </ng-container>
</ng-template>

<!--------------------------------------------------------------------->

<h3>SWITCH CASE</h3>

<!-- Nova Forma -->
@switch (letra) {
    @case ('A') {
        <p>Sim, sua letra é: A</p>
    }
    @case ('B') {
        <p>Sim, sua letra é: B</p>
    }
    @default {
        <p>Outro</p>
    }
}

<!-- Forma Antiga -->
<ng-container [ngSwitch]="letra">
    <ng-container *ngSwitchCase="'A'">
        <p>Sim, sua letra é: A</p>
    </ng-container>
    <ng-container *ngSwitchCase="'B'">
        <p>Sim, sua letra é: B</p>
    </ng-container>
    <ng-container *ngSwitchDefault>
        <p>Outro</p>
    </ng-container>
</ng-container>